/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  text-align: center;
  font-family: 'DotGothic16', sans-serif;
  padding: 30px;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}